body{
	padding:  0;
	margin: 0 0;
	}
.group {
  position: relative;
  margin-bottom: 30px;
  margin-left: 500px;
  margin-top: 50px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}